:root {
    --hover-color: #000000;
}

.option {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding: 10px;
}

.option:hover {
    background-color: var(--hover-color);
}

.expandedText {
    padding-left: 30%;
    width: fit-content;
}