.option {
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #D3D3D3;
}

.option:hover {
    background-color: #BACCE1;
}

.expandedText {
    margin-left: 10px;
}