.visual {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 300px;
}

.visual > * {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin: 5px;
}

.stopButtonContainer {
    position: absolute;
    width: 75%;
    height: 300px;
    pointer-events: none;
}

.stopButton {
    pointer-events: all;
    border-radius: 100%;
    color: white;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 5px;
    right: 5px;
}

.start-vis-container {
    display: flex;
    justify-content: center;
    align-items: center;
}