.optionsContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 400px;
    
    align-items: start;

    margin: 5px;
}

.questionContainer {
    background-color: #f7eedf;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    width: 75%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 10px;
    margin: 10px;
}