.optionsContainer {
    display: flex;
    width: 90%;

    margin: 5px;
    margin-top: 20px;
}

.questionContainer {
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    width: 75%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 10px;
    margin: 10px;
}

.questionImg {
    width: 75%;
}