.screenContainer {
    background-color: aqua;
    border-radius: 10px;
    width: 75%;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 10px;
}