.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: #f7eedf;

  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-x: hidden;
}

h1, h2, h3 {
  color: #1B1A1A;
  width: 75%;
  display: flex;
  justify-content: center;
}

.explanation {
  color: #1B1A1A;
  width: 75%;
  display: flex;
  justify-content: start;
  padding-bottom: 5px;
}